name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 22
      - run: npm ci
      - name: Install the browsers
        run: npx playwright install
      - name: Install the operating-system dependencies
        run: npx playwright install-deps
      - name: Run end-to-end tests
        run: npm test
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Install docker compose plugin
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose-plugin

      - name: Run Playwright in Docker Compose
        run: docker compose run --rm playwright
      - run: npx nyc report --reporter=lcovonly
      - name: Upload to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
